 <!-- left menu starts here  -->
 <aside
 class="left-menu w-full md:w-1/5 h-4/5 bg-transparent shadow-lg rounded-t"
>
 <!-- Button trigger modal -->
 <button
   type="button"
   id="openModalButton"
   class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 m-3 rounded mb-5"
 >
   <i class="fas fa-plus mr-2"></i>
   <span>Compose Email</span>
 </button>

 <ul class="flex flex-col">
   <li class="mb-2">
     <a
       href="dashboard"
       class="hover:bg-gray-500 rounded-r-full text-black font-semibold py-2 px-4 rounded inline-flex items-center"
     >
       <i class="fas fa-home mr-2"></i>
       <span>Home</span>
     </a>
   </li>
   <li class="mb-2">
     <a
       href="dashboard"
       class="hover:bg-gray-500 rounded-r-full text-black font-semibold py-2 px-4 rounded inline-flex items-center"
     >
       <i class="fas fa-paper-plane mr-2"></i>
       <span>Sent Emails</span>
     </a>
   </li>
   <li class="mb-2">
     <a
       href="drafts"
       class="hover:bg-gray-500 rounded-r-full text-black font-semibold py-2 px-4 rounded inline-flex items-center"
     >
       <i class="fas fa-edit mr-2"></i>
       <span>Drafts</span>
     </a>
   </li>
   <li class="mb-2">
     <a
       href="subscribers"
       class="hover:bg-gray-500 rounded-r-full text-black font-semibold py-2 px-4 rounded inline-flex items-center"
     >
       <i class="fas fa-user mr-2"></i>
       <span>All Subscribers</span>
     </a>
   </li>
   <!-- scheduled  -->
   <li class="mb-2">
     <a
       href="scheduled"
       class="hover:bg-gray-500 rounded-r-full text-black font-semibold py-2 px-4 rounded inline-flex items-center"
     >
       <i class="fas fa-clock mr-2"></i>
       <span>Scheduled</span>
     </a>
   </li>
   <!-- marketing emails -->
   <li class="mb-2">
     <a
       href="#"
       class="hover:bg-gray-500 rounded-r-full text-black font-semibold py-2 px-4 rounded inline-flex items-center"
     >
       <i class="fas fa-bullhorn mr-2"></i>
       <span>Marketing Emails</span>
     </a>
   </li>
   <!-- newletter subscribers  -->
   <li class="mb-2">
     <a
       href="newesletter-subscribers"
       class="hover:bg-gray-500 rounded-r-full text-black font-semibold py-2 px-4 rounded inline-flex items-center"
     >
       <i class="fas fa-envelope-open-text mr-2"></i>
       <span>Newsletter Subscribers</span>
     </a>
   </li>
               
 </ul>
 <div class="container bg-white shadow-lg p-2 rounded-2xl">
   <div class="display-date">
     <span id="day">day</span>,
     <span id="daynum">00</span>
     <span id="month">month</span>
     <span id="year">0000</span>
   </div>
   <div class="display-time"></div>
 </div>
</aside>
<!-- left side menu items ends here -->