<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nishkaam Innovations | Sign Up</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/styles/tailwind.css" />
  </head>

  <body
    class="flex items-center justify-center min-h-screen bg-gradient-to-b from-green-200 via-yellow-100 to-purple-200"
  >
    <div
      class="w-full max-w-md px-1 py-4 bg-gradient-to-b from-green-500 via-yellow-100 to-white rounded-lg shadow-md sm:px-6 md:px-8 lg:px-10"
    >
      <h1 class="text-lg font-bold mt-10 text-center text-gray-700">
        If you have an account with us, you will receive an email with a link to
        reset your password. Just Enter your email below.
      </h1>

      <form
        action="/auth/PasswordReset"
        method="POST"
        class="mt-4 p-2 text-center bg-gray-3 rounded-md text-xl text-meta"
      >
        <input
          id="SignUpEmailAddress"
          type="email"
          name="email"
          placeholder="Email"
          spellcheck="false"
          title="Please enter a valid email address."
          class="w-full px-2 mb-5 py-2 text-md leading-tight text-gray-700 border rounded focus:outline-none focus:shadow-outline"
          required
        />
        <button
          type="submit"
          class="w-full px-4 py-2 mb-10 text-black transition-colors duration-200 transform bg-green-600 rounded hover:bg-blue-500 focus:outline-none focus:bg-green-500"
        >
          Send OTP
        </button>
      </form>
    </div>
  </body>
</html>
